<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESDoc Hosting Service</title>
  <link rel="stylesheet" href="./css/style.css"/>
</head>

<body>

<header>
  <a href="/" class="logo">ESDoc</a>
  <a href="/-/index.html">Index</a>
  <a href="/-/generate.html">Generate</a>
  <a href="/-/faq.html">FAQ</a>
</header>

<div class="container">
  <table class="document-index">
    <tbody>
    <tr data-ice="url">
      <td><a data-ice="path"></a></td>
      <td><a data-ice="badgeLink"><img data-ice="badge"></a></td>
      <td><a data-ice="repo" class="repo-link"><img src="./image/github.png"></a></td>
      <td><a data-ice="updateLink" class="update-link" title="update or delete documentation">Update</a></td>
    </tr>
    </tbody>
  </table>
</div>

<footer>
  © 2015 <a href="https://twitter.com/h13i32maru">Ryo Maruyama</a>. All rights reserved.
</footer>
<script src="/-/js/ga.js"></script>
</body>
</html>
